#navbar.mx-2
  .container.h-20.flex.space-between.mx-auto.items-center.justify-between.text-gray-900
    = link_to "BrewPay", root_path, class: 'text-3xl font-bold text-green-500'
    #mobile.md:hidden
      %button#hamburger.px-2.py-1.border.rounded
        = fa_icon 'bars'
    #right.text-xl.text-gray-100.hidden.md:flex.justify-center.items-center
      - if brewery_signed_in?
        = link_to 'Pricing', pricing_path, class: 'text-gray-900'

        = button_to 'Logout', destroy_brewery_session_path, class: 'ml-2 bg-green-200 px-2 py-1 rounded text-gray-900 shadow hover:bg-green-300 focus:outline-black', method: :delete
      - else 
        = link_to brewery_session_path do
          = content_tag('button', 'Brewery Login', class: 'ml-2 bg-green-200 px-2 py-1 rounded text-gray-900 shadow hover:bg-green-300 focus:outline-black')
        = link_to new_brewery_registration_path do
          = content_tag('button', 'Brewery Sign Up', id: 'sign-up', class: 'ml-2 bg-green-200 px-2 py-1 rounded text-gray-900 shadow, hover:bg-green-300 focus:outline-black')


-# Dropdown links
%ul#dropdown.hidden.bg-gray-200
  - if brewery_signed_in?
    %li.p-2
      = link_to 'Pricing', pricing_path
    %li.p-2
      = button_to 'Logout', destroy_brewery_session_path, class: 'ml-2 bg-green-200 px-2 py-1 rounded text-gray-900 shadow hover:bg-green-300 focus:outline-black', method: :delete
  - else
    %li.p-2
      = link_to brewery_session_path do
        = content_tag('button', 'Brewery Login', class: 'ml-2 bg-green-200 px-2 py-1 rounded text-gray-900 shadow hover:bg-green-300 focus:outline-black')
    %li.p-2
      = link_to new_brewery_registration_path do
        = content_tag('button', 'Brewery Sign Up', id: 'sign-up', class: 'ml-2 bg-green-200 px-2 py-1 rounded text-gray-900 shadow, hover:bg-green-300 focus:outline-black')


= javascript_pack_tag 'navbar'