!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= yield(:title) || 'BrewPay'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body.h-screen.flex.flex-col.antialiased.leading-tight.bg-gray-100.body-bg
    = render partial: 'shared/navbar'
    .container.mx-auto.h-full
      = render partial: 'shared/alerts'
      = yield
